.App {
  text-align: center;
  background-color: #f5f3f3e0;
}
.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.App-title {
  margin: 1rem 1rem 0.5rem 1rem;
}


#fab {
  margin-bottom: 0;
}
.owner {
  font-size: calc(3px + 2vmin);
  margin: 0.5rem 1rem 1rem 1rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.labels, #sendBtn {
  align-self: flex-start;
}


